# Уникальный ID ноды
NODE_ID=poland-1

# Путь к логам на хосте
LOG_HOST_PATH=/var/log/remnanode

# Путь к логу внутри контейнера (обычно не нужно менять)
LOG_FILE_PATH=/var/log/remnanode/access.log

# URL сервера анализа
SERVER_URL=wss://analyzer.z-hq.com/ws

# Настройки батчинга (опционально)
BATCH_SIZE=1000
BATCH_TIMEOUT=5s
